<Font color="blue" size="6" >Discretize and Binning </font>

<p>Binning in pandas is the process of grouping a continuous numerical variable into a smaller number of discrete bins or groups.</p>
<p>Binning numerical columns is a common data preprocessing technique in data analysis and machine learning.</p>

<font color ="blue" size="6" >qcut</font>
<p> qcut is a<b> “Quantile-based discretization function.”</b> </p>
<p>This basically means that qcut tries to divide up the underlying data into equal sized bins.</p>
<p>The function defines the bins using percentiles based on the distribution of the data, not the actual numeric edges of the bins.</p>

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('DATASETS\\Gold.csv',encoding='latin1')
df

     Year  10_G_Price
0    1964       63.25
1    1965       71.75
2    1966       83.75
3    1967      102.50
4    1968      162.00
5    1969      176.00
6    1970      184.00
7    1971      193.00
8    1972      202.00
9    1973      278.50
10   1974      506.00
11   1975      540.00
12   1976      432.00
13   1977      486.00
14   1978      685.00
15   1979      937.00
16   1980     1330.00
17   1981     1670.00
18   1982     1645.00
19   1983     1800.00
20   1984     1970.00
21   1985     2130.00
22   1986     2140.00
23   1987     2570.00
24   1988     3130.00
25   1989     3140.00
26   1990     3200.00
27   1991     3466.00
28   1992     4334.00
29   1993     4140.00
30   1994     4598.00
31   1995     4680.00
32   1996     5160.00
33   1997     4725.00
34   1998     4045.00
35   1999     4234.00
36   2000     4400.00
37   2001     4300.00
38   2002     4990.00
39   2003     5600.00
40   2004     5850.00
41   2005     7000.00
42   2007    10800.00
43   2008    12500.00
44   2009    14500.00
45   2010    18500.00
46   2011    26400.00
47   2012    31050.00
48   2013    29600.00
49   2014    28006.50
50   2015    26343.50
51   2016    28623.50
52   2017    29667.50
53   2018    31438.00
54   2019    35220.00
55   2020    48651.00
56   2021    48720.00
57   2022    52670.00
58  2023     65330.00
59   2024    74175.00

In [2]:
df['Year']

0      1964
1      1965
2      1966
3      1967
4      1968
5      1969
6      1970
7      1971
8      1972
9      1973
10     1974
11     1975
12     1976
13     1977
14     1978
15     1979
16     1980
17     1981
18     1982
19     1983
20     1984
21     1985
22     1986
23     1987
24     1988
25     1989
26     1990
27     1991
28     1992
29     1993
30     1994
31     1995
32     1996
33     1997
34     1998
35     1999
36     2000
37     2001
38     2002
39     2003
40     2004
41     2005
42     2007
43     2008
44     2009
45     2010
46     2011
47     2012
48     2013
49     2014
50     2015
51     2016
52     2017
53     2018
54     2019
55     2020
56     2021
57     2022
58    2023
59     2024
Name: Year, dtype: object

In [3]:
df['Year'] = df['Year'].astype(int)
df

    Year  10_G_Price
0   1964       63.25
1   1965       71.75
2   1966       83.75
3   1967      102.50
4   1968      162.00
5   1969      176.00
6   1970      184.00
7   1971      193.00
8   1972      202.00
9   1973      278.50
10  1974      506.00
11  1975      540.00
12  1976      432.00
13  1977      486.00
14  1978      685.00
15  1979      937.00
16  1980     1330.00
17  1981     1670.00
18  1982     1645.00
19  1983     1800.00
20  1984     1970.00
21  1985     2130.00
22  1986     2140.00
23  1987     2570.00
24  1988     3130.00
25  1989     3140.00
26  1990     3200.00
27  1991     3466.00
28  1992     4334.00
29  1993     4140.00
30  1994     4598.00
31  1995     4680.00
32  1996     5160.00
33  1997     4725.00
34  1998     4045.00
35  1999     4234.00
36  2000     4400.00
37  2001     4300.00
38  2002     4990.00
39  2003     5600.00
40  2004     5850.00
41  2005     7000.00
42  2007    10800.00
43  2008    12500.00
44  2009    14500.00
45  2010    18500.00
46  2011    26400.00
47  2012    31050.00
48  2013    29600.00
49  2014    28006.50
50  2015    26343.50
51  2016    28623.50
52  2017    29667.50
53  2018    31438.00
54  2019    35220.00
55  2020    48651.00
56  2021    48720.00
57  2022    52670.00
58  2023    65330.00
59  2024    74175.00

In [4]:
pd.qcut(df['Year'],q=4,).head()
df['Year.q']=pd.qcut(df['Year'],q=4,labels=['Veryold','Old','Middle','Newera'])
df['Year.q']
df

    Year  10_G_Price   Year.q
0   1964       63.25  Veryold
1   1965       71.75  Veryold
2   1966       83.75  Veryold
3   1967      102.50  Veryold
4   1968      162.00  Veryold
5   1969      176.00  Veryold
6   1970      184.00  Veryold
7   1971      193.00  Veryold
8   1972      202.00  Veryold
9   1973      278.50  Veryold
10  1974      506.00  Veryold
11  1975      540.00  Veryold
12  1976      432.00  Veryold
13  1977      486.00  Veryold
14  1978      685.00  Veryold
15  1979      937.00      Old
16  1980     1330.00      Old
17  1981     1670.00      Old
18  1982     1645.00      Old
19  1983     1800.00      Old
20  1984     1970.00      Old
21  1985     2130.00      Old
22  1986     2140.00      Old
23  1987     2570.00      Old
24  1988     3130.00      Old
25  1989     3140.00      Old
26  1990     3200.00      Old
27  1991     3466.00      Old
28  1992     4334.00      Old
29  1993     4140.00      Old
30  1994     4598.00   Middle
31  1995     4680.00   Middle
32  1996     5160.00   Middle
33  1997     4725.00   Middle
34  1998     4045.00   Middle
35  1999     4234.00   Middle
36  2000     4400.00   Middle
37  2001     4300.00   Middle
38  2002     4990.00   Middle
39  2003     5600.00   Middle
40  2004     5850.00   Middle
41  2005     7000.00   Middle
42  2007    10800.00   Middle
43  2008    12500.00   Middle
44  2009    14500.00   Middle
45  2010    18500.00   Newera
46  2011    26400.00   Newera
47  2012    31050.00   Newera
48  2013    29600.00   Newera
49  2014    28006.50   Newera
50  2015    26343.50   Newera
51  2016    28623.50   Newera
52  2017    29667.50   Newera
53  2018    31438.00   Newera
54  2019    35220.00   Newera
55  2020    48651.00   Newera
56  2021    48720.00   Newera
57  2022    52670.00   Newera
58  2023    65330.00   Newera
59  2024    74175.00   Newera

<font color="blue" size="6">CUT</font>
<p>Cut: Use cut when you need to segment and sort data values into bins.</p>
<p>This function is also useful for going from a continuous variable to a categorical variable.</p> <p>For example, cut could convert ages to groups of age ranges. Supports binning into an equal number of bins, or a pre-specified array of bins.</p>

In [5]:
pd.cut(df['Year'],bins=[0,1980,1990,2014,2024])
df['Gold_Range']=pd.cut(df['Year'],bins=[0,1980,1990,2014,2024],labels=[1,2,3,4])

In [6]:
df

    Year  10_G_Price   Year.q Gold_Range
0   1964       63.25  Veryold          1
1   1965       71.75  Veryold          1
2   1966       83.75  Veryold          1
3   1967      102.50  Veryold          1
4   1968      162.00  Veryold          1
5   1969      176.00  Veryold          1
6   1970      184.00  Veryold          1
7   1971      193.00  Veryold          1
8   1972      202.00  Veryold          1
9   1973      278.50  Veryold          1
10  1974      506.00  Veryold          1
11  1975      540.00  Veryold          1
12  1976      432.00  Veryold          1
13  1977      486.00  Veryold          1
14  1978      685.00  Veryold          1
15  1979      937.00      Old          1
16  1980     1330.00      Old          1
17  1981     1670.00      Old          2
18  1982     1645.00      Old          2
19  1983     1800.00      Old          2
20  1984     1970.00      Old          2
21  1985     2130.00      Old          2
22  1986     2140.00      Old          2
23  1987     2570.00      Old          2
24  1988     3130.00      Old          2
25  1989     3140.00      Old          2
26  1990     3200.00      Old          2
27  1991     3466.00      Old          3
28  1992     4334.00      Old          3
29  1993     4140.00      Old          3
30  1994     4598.00   Middle          3
31  1995     4680.00   Middle          3
32  1996     5160.00   Middle          3
33  1997     4725.00   Middle          3
34  1998     4045.00   Middle          3
35  1999     4234.00   Middle          3
36  2000     4400.00   Middle          3
37  2001     4300.00   Middle          3
38  2002     4990.00   Middle          3
39  2003     5600.00   Middle          3
40  2004     5850.00   Middle          3
41  2005     7000.00   Middle          3
42  2007    10800.00   Middle          3
43  2008    12500.00   Middle          3
44  2009    14500.00   Middle          3
45  2010    18500.00   Newera          3
46  2011    26400.00   Newera          3
47  2012    31050.00   Newera          3
48  2013    29600.00   Newera          3
49  2014    28006.50   Newera          3
50  2015    26343.50   Newera          4
51  2016    28623.50   Newera          4
52  2017    29667.50   Newera          4
53  2018    31438.00   Newera          4
54  2019    35220.00   Newera          4
55  2020    48651.00   Newera          4
56  2021    48720.00   Newera          4
57  2022    52670.00   Newera          4
58  2023    65330.00   Newera          4
59  2024    74175.00   Newera          4

<b>Note:</b>
<p>With the cut function, we do not have any control over how many values fall into each bin. We can only specify the bin edges. 
<p>This is where we need to learn about the qcut function. 
<p>It can be used to divide the values into buckets in a way that each bucket contains approximately the same number of values.