<font color ="blue" size ="14" ><b>Data Frame - 2</b></font>

<b>Export CSV to a working directory</b>

In [4]:
import pandas as pd
# initialize list of lists
data = [['Dhoni',200,110,74,5,55.00],
        ['Azhar',174,90,76,2,51.72], 
        ['Ganguly', 146,76,65,0,52.05], 
        ['Kohli',95,65,27,1,68.42],
        ['Dravid',79,42,33,0,53.16],
        ['Kapil', 74,39,33,0,52.70]]
# Create the pandas DataFrame
captaincy = pd.DataFrame(data, columns=['Name', 'Mat', 'Won', 'Lost', 'Tied', 'WR'])
# printdataframe.
print(captaincy)

      Name  Mat  Won  Lost  Tied     WR
0    Dhoni  200  110    74     5  55.00
1    Azhar  174   90    76     2  51.72
2  Ganguly  146   76    65     0  52.05
3    Kohli   95   65    27     1  68.42
4   Dravid   79   42    33     0  53.16
5    Kapil   74   39    33     0  52.70

<b>1.Export a Dataframe to a CSV file using df.to_csv().</b>

In [6]:
# saving the dataframe
captaincy.to_csv('OUTPUT/file1.csv')

<b> 2.Saving CSV without headers and index. </b>

In [9]:
# saving the dataframe
captaincy.to_csv('OUTPUT/file2.csv', header=False, index=False)

<b>3.Save the CSV file to a specified location</b>

In [10]:
# saving the dataframe
captaincy.to_csv(r'OUTPUT\file3.csv')

<b> 4.Write a DataFrame to CSV file using tab separator</b>

In [11]:
captaincy.to_csv('Users.csv', sep='\t', index=False,header=True)

<b>5.Importing a CSV file </b>

In [12]:
odi = pd.read_csv ("DATASETS/scores.csv")
print(odi)

              Player Country  Mat Played  Inns  NO   Runs   HS    Ave     SR  \
0       SR Tendulkar     IND         463   452  41  18426  200  44.83  86.23
1      KC Sangakkara      SL         404   380  41  14234  169  41.98  78.86
2            V Kohli     IND         292   280  44  13848  183  58.67  93.58
3         RT Ponting     AUS         375   365  39  13704  164  42.03  80.39
4      ST Jayasuriya      SL         445   433  18  13430  189  32.36  91.20
5   DPMD Jayawardene      SL         448   418  39  12650  144  33.37  78.96
6     Inzamam-ul-Haq     PAK         378   350  53  11739  137  39.52  74.24
7          JH Kallis      SA         328   314  53  11579  139  44.36  72.89
8         SC Ganguly     IND         311   300  23  11363  183  41.02  73.70
9           R Dravid     IND         344   318  40  10889  153  39.16  71.23
10        New Player     ZAM          10    10   1    600   90  45.00  80.00

    100  50   0
0    49  96  20
1    25  93  15
2    50  72  16
3    30  82  20
4    28  68  34
5    19  77  28
6    10  83  20
7    17  86  17
8    22  72  16
9    12  83  15
10    1   1   0

In [14]:
odi = pd.read_csv ("DATASETS\\scores.csv")
print(odi)

              Player Country  Mat Played  Inns  NO   Runs   HS    Ave     SR  \
0       SR Tendulkar     IND         463   452  41  18426  200  44.83  86.23
1      KC Sangakkara      SL         404   380  41  14234  169  41.98  78.86
2            V Kohli     IND         292   280  44  13848  183  58.67  93.58
3         RT Ponting     AUS         375   365  39  13704  164  42.03  80.39
4      ST Jayasuriya      SL         445   433  18  13430  189  32.36  91.20
5   DPMD Jayawardene      SL         448   418  39  12650  144  33.37  78.96
6     Inzamam-ul-Haq     PAK         378   350  53  11739  137  39.52  74.24
7          JH Kallis      SA         328   314  53  11579  139  44.36  72.89
8         SC Ganguly     IND         311   300  23  11363  183  41.02  73.70
9           R Dravid     IND         344   318  40  10889  153  39.16  71.23
10        New Player     ZAM          10    10   1    600   90  45.00  80.00

    100  50   0
0    49  96  20
1    25  93  15
2    50  72  16
3    30  82  20
4    28  68  34
5    19  77  28
6    10  83  20
7    17  86  17
8    22  72  16
9    12  83  15
10    1   1   0

In [15]:
odi

,Player,Country,Mat Played,Inns,NO,Runs,HS,Ave,SR,100,50,0
0,SR Tendulkar,IND,463,452,41,18426,200,44.83,86.23,49,96,20
1,KC Sangakkara,SL,404,380,41,14234,169,41.98,78.86,25,93,15
2,V Kohli,IND,292,280,44,13848,183,58.67,93.58,50,72,16
3,RT Ponting,AUS,375,365,39,13704,164,42.03,80.39,30,82,20
4,ST Jayasuriya,SL,445,433,18,13430,189,32.36,91.20,28,68,34
5,DPMD Jayawardene,SL,448,418,39,12650,144,33.37,78.96,19,77,28
6,Inzamam-ul-Haq,PAK,378,350,53,11739,137,39.52,74.24,10,83,20
7,JH Kallis,SA,328,314,53,11579,139,44.36,72.89,17,86,17
8,SC Ganguly,IND,311,300,23,11363,183,41.02,73.70,22,72,16
9,R Dravid,IND,344,318,40,10889,153,39.16,71.23,12,83,15
10,New Player,ZAM,10,10,1,600,90,45.00,80.00,1,1,0

In [16]:
odi = pd.read_csv (r"DATASETS\scores.csv")
print(odi)

              Player Country  Mat Played  Inns  NO   Runs   HS    Ave     SR  \
0       SR Tendulkar     IND         463   452  41  18426  200  44.83  86.23
1      KC Sangakkara      SL         404   380  41  14234  169  41.98  78.86
2            V Kohli     IND         292   280  44  13848  183  58.67  93.58
3         RT Ponting     AUS         375   365  39  13704  164  42.03  80.39
4      ST Jayasuriya      SL         445   433  18  13430  189  32.36  91.20
5   DPMD Jayawardene      SL         448   418  39  12650  144  33.37  78.96
6     Inzamam-ul-Haq     PAK         378   350  53  11739  137  39.52  74.24
7          JH Kallis      SA         328   314  53  11579  139  44.36  72.89
8         SC Ganguly     IND         311   300  23  11363  183  41.02  73.70
9           R Dravid     IND         344   318  40  10889  153  39.16  71.23
10        New Player     ZAM          10    10   1    600   90  45.00  80.00

    100  50   0
0    49  96  20
1    25  93  15
2    50  72  16
3    30  82  20
4    28  68  34
5    19  77  28
6    10  83  20
7    17  86  17
8    22  72  16
9    12  83  15
10    1   1   0

<b>6.Import a subset of columns</b>

In [17]:
strike=pd.read_csv(r"DATASETS/scores.csv",usecols=['Player','Ave'])
print(strike)

              Player    Ave
0       SR Tendulkar  44.83
1      KC Sangakkara  41.98
2            V Kohli  58.67
3         RT Ponting  42.03
4      ST Jayasuriya  32.36
5   DPMD Jayawardene  33.37
6     Inzamam-ul-Haq  39.52
7          JH Kallis  44.36
8         SC Ganguly  41.02
9           R Dravid  39.16
10        New Player  45.00

In [18]:
import pandas as pd
t20 = pd.read_csv ("DATASETS\\t20.csv")
print(t20)

                   Player  Mat  Inns  NO  Runs    Ave    BF      SR 100  50
0         RG Sharma (IND)  159   151  19  4231  32.05  3003  140.89   5  32
1        Babar Azam (PAK)  128   121  15  4223  39.83  3268  129.22   3  36
2           V Kohli (IND)  125   117  31  4188  48.69  3056  137.04   1  38
3       PR Stirling (IRE)  147   146  11  3655  27.07  2710  134.87   1  24
4        JC Buttler (ENG)  134   123  23  3535  35.35  2411  146.61   1  26
..                    ...  ...   ...  ..   ...    ...   ...     ...  ..  ..
145         FH Allen (NZ)   47    47   -  1141  24.27   719  158.69   2   4
146  D Ndikubwimana (RWN)   82    76   7  1138  16.49  1422   80.02   -   5
147    Afif Hossain (BAN)   70    64   9  1117  20.30   938  119.08   -   3
148  Ibrahim Zadran (AFG)   44    44   6  1105  29.07  1030  107.28   -   8
149         SS Iyer (IND)   51    47  11  1104  30.66   811  136.12   -   8

[150 rows x 10 columns]

In [19]:
t20

                   Player  Mat  Inns  NO  Runs    Ave    BF      SR 100  50
0         RG Sharma (IND)  159   151  19  4231  32.05  3003  140.89   5  32
1        Babar Azam (PAK)  128   121  15  4223  39.83  3268  129.22   3  36
2           V Kohli (IND)  125   117  31  4188  48.69  3056  137.04   1  38
3       PR Stirling (IRE)  147   146  11  3655  27.07  2710  134.87   1  24
4        JC Buttler (ENG)  134   123  23  3535  35.35  2411  146.61   1  26
..                    ...  ...   ...  ..   ...    ...   ...     ...  ..  ..
145         FH Allen (NZ)   47    47   -  1141  24.27   719  158.69   2   4
146  D Ndikubwimana (RWN)   82    76   7  1138  16.49  1422   80.02   -   5
147    Afif Hossain (BAN)   70    64   9  1117  20.30   938  119.08   -   3
148  Ibrahim Zadran (AFG)   44    44   6  1105  29.07  1030  107.28   -   8
149         SS Iyer (IND)   51    47  11  1104  30.66   811  136.12   -   8

[150 rows x 10 columns]